@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* base */
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	min-width: 320px;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
}
h2 {
	font-weight: 400;
	font-size: 36px;
	line-height: 46px;
	letter-spacing: 0.05em;
	margin: 0 0 32px;
}
/* header */
header {
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
}
.topheader {
	height: 129px;
	background: #fff;
}
.bottomheader {
	/*width: 1366px;*/
	background: #3481D7;
	height: 250px;
	left: 0px;
	top: 129px;
}
.ellips_blue {
	position: absolute;
}
.ellips_white {
	position: relative;
	left: 17px;
}
.buttonheader {
	display: flex;
	justify-content: space-between;
	padding-top: 37px;
	align-items: center;/*выровнять блок с текстом по центру*/
}
.bottomheader > .container {
	/*align-items: center;*/
}
.rele {
	display: flex;
	position: relative;
}
.headertext {
	width: 400px;
	padding: 44px 0 0;
	text-align: center;
	align-items: center;
}
.headertext > div {
	opacity: 0.6;
}
/* main */
main {

}
.blocks {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 60px;
}
.form {
	padding-left: 110px;
}
.contacts {
	padding-left: 113px;
}
/* form */
/*здесь код формы*/
.brd {
	width: 540px;
	height: 800px;
	border: 1px solid #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	border-radius: 10px;
	
}
input[type="text"] {
	width: 428px;

}
input[name="name"] {
	width: 428px;
	height: 72px;
	opacity: 0.4;
	border: 1px solid #356EAD;
	box-sizing: border-box;
	border-radius: 10px;
}
input[name="email"] {
	width: 428px;
	height: 72px;
	opacity: 0.4;
	border: 1px solid #356EAD;
	box-sizing: border-box;
	border-radius: 10px;
}
input[name="message"] {
	width: 428px;
	height: 144px;
	opacity: 0.4;
	border: 1px solid #356EAD;
	box-sizing: border-box;
	border-radius: 10px;
}
input[name="submit"] {
	width: 428px;
	height: 72px;
	background-color: #5A98D0; 
	box-shadow: 5px 10px 20px rgba(16, 112, 177, 0.2);
	border: 1px solid #5A98D0;
	border-radius: 10px;
	font-size: 26px;
	color: #fff;
	margin-top: 72px;
}
h1 {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
}
h6 {
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	opacity: 0.8;
	margin-block-end: 0;
}
form {
	display: flex;
	justify-content: center;
}
/* footer */
footer {
	background: #316099;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
}
footer button {
	width: 240px;
	height: 60px;
	background: #5a98d0;
	color: #fff;
	border: none;
	font: inherit;
	letter-spacing: 0.05em;
	cursor: pointer;
}
.topfooter {
	padding: 90px 0 95px;
	border-bottom: 1px solid rgba(255,255,255,.4);
}
.topfooter .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footertext {
	width: 500px;
}
.footertext > div {
	opacity: 0.6;
}
.map {
	padding: 96px 213px 112px;
}
/*
ol.container {
	display: flex;
	list-style-type: upper-alpha;
	gap: 32px;
}
ol.container li {
	flex: 1 1 320px;
	padding-left: 40px;
}
*/
.middlefooter .container {
	display: flex;
	gap: 160px;
	padding: 64px 0;
}
.middlefooter span {
	display: block;
	flex: 1 1 320px;
	padding: 0 0 0 40px;
	position: relative;
}
.middlefooter span::before {
	position: absolute;
	left: 0;
	top: 0;
	content: 'T.';
}
.middlefooter span:first-child::before {
	content: 'A.';
}
.middlefooter span:last-child::before {
	content: 'E.';
}
.bottomfooter {
	opacity: 0.4;
	padding: 0 0 64px;
}

/* планшетный вид */
@media (max-width:1200px) {
	.container {
		max-width: 800px;
	}
	.middlefooter .container {
		gap: 80px;
	}
	.middlefooter span {
		padding: 0 0 0 25px;
	}
	.footertext {
		width: 400px;
	}
	footer button {
		width: 200px;
		height: 40px;
	}
}
@media (max-width:860px) {
	.container {
		max-width: 520px;
	}
	.topfooter {
		padding: 50px 0 60px;
	}
	.footertext {
		width: 340px;
	}
	footer button {
		width: 130px;
		height: 30px;
	}
	.middlefooter .container {
		display: block;
		/*
		padding-bottom: 40px;
		*/
	}
	.middlefooter span {
		padding: 0 0 24px 60px;
	}
	.middlefooter span:last-child {
		padding: 0 0 0 60px;
	}
}
/* мобильный вид */
@media (max-width:550px) {
	.container {
		padding: 0 15px;
	}
	.middlefooter .container {
		padding: 64px 15px;
	}
	footer button {
		width: 100px;
		height: 30px;
		margin-left: 125px;
	}
	.footertext {
		width: 345px;
		text-align: center;
		padding-bottom: 33px;
	}
	.topfooter .container {
		display: table-cell;
		align-items: center;
	}
	.middlefooter span {
		padding: 0 0 24px 60px;
	}
	.middlefooter span:last-child {
		padding: 0 0 0 60px;
	}
}
